In [7]:
import pandas as pd
import numpy as np
import json
import requests
import openpyxl

# SLEEP QUALITY AND DURATION DATA

In [8]:
# Importing the two datasets
country_abbrevs = pd.read_csv('data/country_abbrev_list.csv')

re = requests.get('https://sandman.sleepcycle.com/data/per-country-stats')
country_sleep_data = pd.DataFrame(re.json())

In [9]:
country_sleep_data

,country,avg_sleep_quality,avg_duration,avg_snore_duration,avg_bedtime,avg_wakeup,group_size
0,ca,0.7706280786149319,27203.393388256663,2658.828667280861,-0.010468966378401922,0.30500672811254403,28646
1,co,0.7297271999818904,25615.27579824156,1437.7857592261742,-0.03228318759677625,0.2644591619912697,2161
2,in,0.7060974741852611,25093.229276895945,2137.2825717013548,0.004082686733507055,0.2950252965085311,1134
3,il,0.7406121077804889,26042.273445212242,2051.836718594944,0.017049587070040857,0.31956485420204445,2026
4,se,0.786575637584524,27685.027529392293,3116.2711398811175,-0.007667250763352499,0.3134636193388775,24156
...,...,...,...,...,...,...,...
57,cy,0.7502196809844399,27078.2886002886,2816.03259211972,0.0043422235917116225,0.31831668729306556,693
58,jp,0.6784701596828577,24236.974481437002,3323.9126377116636,0.00410389190726472,0.2842500281637383,100711
59,gb,0.7840466475722139,27963.86005062065,2777.4097512704925,-0.00660779543906787,0.31820536414364314,65981
60,pe,0.7117202666169559,25158.92667509482,1714.1829438347725,-0.010349246817979626,0.2795599722538905,791
61,bg,0.7556010615150265,26774.326810176128,2308.1114731643706,0.02964492288897888,0.3396188248193334,1022

In [10]:
# Merging the two datasets
country_sleep_data['country'] = country_sleep_data['country'].str.upper()
sleep_by_country = pd.merge(country_sleep_data, country_abbrevs, left_on = 'country', right_on = 'Code').drop(['country', 'Code'], axis=1).set_index('Name')

In [11]:
# Converting all the strings to floats and converting sleep values to hours or minutes (from seconds)
sleep_by_country = sleep_by_country.astype(float)
sleep_by_country['avg_duration'] = round(sleep_by_country['avg_duration'] / 3600, 2)
sleep_by_country['avg_snore_duration'] = round(sleep_by_country['avg_snore_duration'] / 60, 2)

In [12]:
# Renaming columns appropriately and dropping unnecessary columns
sleep_by_country = sleep_by_country.rename(columns = {'avg_sleep_quality': 'Average Sleep Quality (0-1)', 'avg_duration': 'Average Sleep Duration (Hours)', 'avg_snore_duration': 'Average Snore Duration (Minutes)'})
sleep_by_country = sleep_by_country.drop(['avg_bedtime', 'avg_wakeup', 'group_size'], axis=1)

In [13]:
sleep_by_country

,Average Sleep Quality (0-1),Average Sleep Duration (Hours),Average Snore Duration (Minutes)
Name,,,
Canada,0.770628,7.56,44.31
Colombia,0.729727,7.12,23.96
India,0.706097,6.97,35.62
Israel,0.740612,7.23,34.20
Sweden,0.786576,7.69,51.94
...,...,...,...
Cyprus,0.750220,7.52,46.93
Japan,0.678470,6.73,55.40
United Kingdom,0.784047,7.77,46.29
Peru,0.711720,6.99,28.57
Bulgaria,0.755601,7.44,38.47

# SOCIOECONOMIC DATA

In [16]:
# Importing and cleaning the dataset (removing some columns, making sure to only keep the most recent year for each country)
socioeconomic_data = pd.read_csv('data/raw_socioeconomic_data.csv', encoding = 'latin1')
socioeconomic_data = socioeconomic_data.drop(['unid', 'wbid', 'popshare', 'yrseduc'], axis=1)
socioeconomic_data = socioeconomic_data[socioeconomic_data['year'] == 2010]
socioeconomic_data = socioeconomic_data.set_index('country')

In [17]:
socioeconomic_data

                      year        SES       gdppc
country
Afghanistan           2010   5.676400   1662.8035
Angola                2010  21.247763   6492.1768
Albania               2010  74.860367   9927.1758
United Arab Emirates  2010  89.092285  57406.7380
Argentina             2010  79.750809  18794.2700
...                    ...        ...         ...
Vietnam               2010  38.222027   4486.2612
Yemen                 2010  19.492294   4481.5547
South Africa          2010  71.227959  12028.9340
Zambia                2010  27.127140   3263.3948
Zimbabwe              2010  27.091389   1388.9730

[149 rows x 3 columns]

# WHO ENVIRONMENTAL DATA

In [18]:
# Importing the dataset
air_df = pd.read_csv('data/who_2022_air_quality.csv', encoding='latin1')

In [20]:
# Cleaning the dataset by getting only most recent year for each country and dropping unnecessary columns
air_df = air_df.loc[air_df.groupby('WHO Country Name')['Measurement Year'].idxmax()].set_index('WHO Country Name')
air_df = air_df.drop(['WHO Region', 'ISO3', 'Version of the database', 'Number and type of monitoring stations', 'Reference', 'Status', 'Unnamed: 15', 'Unnamed: 16'], axis=1)

In [21]:
air_df

,City or Locality,Measurement Year,PM2.5 (?g/m3),PM10 (?g/m3),NO2 (?g/m3),PM25 temporal coverage (%),PM10 temporal coverage (%),NO2 temporal coverage (%)
WHO Country Name,,,,,,,,
Afghanistan,Kabul,2019,119.77,NaN,NaN,18.0,NaN,NaN
Albania,Vlore,2019,10.32,NaN,NaN,NaN,NaN,NaN
Algeria,Algiers,2019,21.53,NaN,NaN,44.0,NaN,NaN
Andorra,Escaldes-Engordany,2019,NaN,24.58,31.01,NaN,NaN,92.180365
Argentina,Buenos Aires,2019,NaN,25.50,18.25,NaN,97.2,87.500000
...,...,...,...,...,...,...,...,...
United States of America,Albuquerque (Nm),2019,NaN,18.30,17.70,NaN,NaN,NaN
Uruguay,Montevideo,2018,12.00,19.00,NaN,NaN,NaN,NaN
Uzbekistan,Tashkent,2019,41.96,NaN,NaN,81.0,NaN,NaN
Venezuela (Bolivarian Republic of),Caracas,2012,NaN,45.00,NaN,NaN,NaN,NaN
Viet Nam,Ha Noi,2019,52.09,NaN,NaN,59.0,NaN,NaN

# Merging our 3 Datasets

In [32]:
merged_df = pd.merge(pd.merge(sleep_by_country, socioeconomic_data, left_index=True, right_index=True), air_df, left_index=True, right_index=True)

In [33]:
merged_df

,Average Sleep Quality (0-1),Average Sleep Duration (Hours),Average Snore Duration (Minutes),year,SES,gdppc,City or Locality,Measurement Year,PM2.5 (?g/m3),PM10 (?g/m3),NO2 (?g/m3),PM25 temporal coverage (%),PM10 temporal coverage (%),NO2 temporal coverage (%)
Canada,0.770628,7.56,44.31,2010,93.772118,40699.3550,Aamjiwnaang,2019,7.00,NaN,11.00,100.000000,NaN,100.000000
Colombia,0.729727,7.12,23.96,2010,59.636009,10900.5040,Barbosa,2019,10.49,NaN,NaN,17.000000,NaN,NaN
India,0.706097,6.97,35.62,2010,22.542639,4404.5376,Adilabad,2019,45.00,74.00,25.00,86.538461,100.000000,100.000000
Israel,0.740612,7.23,34.20,2010,86.517677,29599.7930,Afula,2015,NaN,63.50,NaN,NaN,94.400000,NaN
Sweden,0.786576,7.69,51.94,2010,91.959633,42942.5630,Älgarås,2019,NaN,NaN,1.20,NaN,NaN,93.401826
Spain,0.746307,7.46,43.95,2010,85.359718,32506.4340,A Coruna,2019,13.60,26.91,18.34,NaN,NaN,97.785388
Denmark,0.780589,7.65,51.91,2010,88.418976,43757.7380,Aalborg,2019,9.56,NaN,10.23,NaN,NaN,94.178082
Greece,0.729426,7.57,50.57,2010,85.653824,28726.0800,Ano Liosia,2019,NaN,NaN,21.07,NaN,NaN,85.696347
Slovakia,0.766138,7.50,47.71,2010,86.117645,25159.0780,Banska Bystrica,2019,13.92,21.06,19.09,NaN,NaN,95.719178
Estonia,0.787921,7.67,41.12,2010,87.317307,22740.9650,Kohtla-Jarve,2019,4.01,11.02,4.71,99.121005,99.121005,99.121005
Saudi Arabia,0.722250,6.98,29.35,2010,83.356682,44246.8200,Dharan,2019,34.12,NaN,NaN,45.000000,NaN,NaN
Chile,0.751459,7.33,49.36,2010,82.043282,19357.4730,Andacollo,2019,NaN,44.00,NaN,NaN,99.000000,NaN
Ireland,0.768706,7.58,39.37,2010,93.448280,45661.4690,Carlow,2019,7.60,11.00,NaN,NaN,NaN,NaN
Latvia,0.760721,7.35,43.06,2010,83.013420,18251.0080,Liepaja,2019,13.38,21.28,20.72,NaN,NaN,99.155251
Brazil,0.733515,7.22,35.88,2010,61.067955,14405.9310,Americana,2019,NaN,33.76,NaN,NaN,81.917808,NaN
Philippines,0.718708,7.12,54.58,2010,57.296577,5638.2075,Baguio City,2018,NaN,66.00,NaN,NaN,NaN,NaN
Austria,0.765099,7.56,46.86,2010,87.227364,43174.9770,Am Rechen,2019,NaN,NaN,15.57,NaN,NaN,94.623288
Ecuador,0.731721,7.27,29.33,2010,48.911560,9352.3428,Quito,2018,19.84,33.22,24.09,NaN,NaN,NaN
South Africa,0.785257,7.69,53.93,2010,71.227959,12028.9340,Buffalo City,2021,12.63,29.04,10.88,75.000000,75.000000,75.000000
Singapore,0.728731,7.13,56.26,2010,89.228050,72017.9060,Singapore,2020,11.00,NaN,20.00,100.000000,100.000000,100.000000
United Arab Emirates,0.751284,7.34,34.54,2010,89.092285,57406.7380,Abu Dhabi,2020,NaN,111.49,25.35,NaN,NaN,NaN
Romania,0.758590,7.40,46.41,2010,81.711670,17818.0180,Alba Iulia,2019,NaN,23.76,NaN,NaN,NaN,NaN
Indonesia,0.751979,7.40,38.42,2010,41.214973,8465.2959,Jakarta,2019,46.35,NaN,NaN,92.000000,NaN,NaN
Ukraine,0.754419,7.48,39.56,2010,64.423592,7824.4985,Kyiv,2019,23.36,31.19,NaN,97.300000,100.000000,NaN
Morocco,0.681716,6.90,23.49,2010,25.457148,6496.6069,Casablanca,2020,NaN,51.32,23.30,NaN,NaN,NaN
Australia,0.797530,7.82,43.76,2010,94.268761,41363.2150,Adelaide,2019,6.14,20.64,11.57,97.200000,91.428571,91.857143
Italy,0.745459,7.37,51.33,2010,85.016357,36201.1600,Abbadia Cerreto,2019,NaN,NaN,21.71,NaN,NaN,96.621005
Switzerland,0.775140,7.59,43.96,2010,91.012245,55541.6720,Aarau,2020,8.90,12.40,18.60,NaN,NaN,NaN
France,0.770929,7.68,46.76,2010,88.194969,36872.2270,Agde,2019,NaN,NaN,8.24,NaN,NaN,99.394977
Norway,0.780227,7.63,40.64,2010,97.551964,62268.0120,Alesund,2019,NaN,13.20,23.37,NaN,NaN,90.022831
Finland,0.788954,7.76,51.65,2010,87.093582,39848.1330,Espoo,2019,6.14,17.07,19.62,NaN,NaN,99.417808
Luxembourg,0.775248,7.70,63.25,2010,91.404564,89727.0390,Bourglinster,2019,6.89,14.74,8.99,NaN,NaN,97.374429
New Zealand,0.804231,7.91,49.11,2010,90.699150,32188.2070,Ashburton District,2017,11.23,18.71,NaN,NaN,50.000000,NaN
Turkey,0.729237,7.19,47.73,2010,60.248875,17076.6050,Adana,2019,NaN,42.30,30.68,NaN,NaN,87.804414
Egypt,0.695847,6.94,22.52,2010,55.775925,10102.1010,Delta Region,2015,NaN,249.00,NaN,NaN,NaN,NaN
Costa Rica,0.746461,7.32,38.13,2010,72.739906,13000.0130,San Jose,2019,7.40,NaN,NaN,7.000000,NaN,NaN
Thailand,0.740163,7.27,42.71,2010,59.099377,13584.2090,Bangkok,2019,23.14,43.14,36.83,84.857143,88.714286,79.333333
Portugal,0.745836,7.48,44.96,2010,68.019989,27238.4610,Albufeira,2019,NaN,20.92,17.35,NaN,NaN,99.691781
Malaysia,0.716460,6.99,47.16,2010,82.217072,21101.8790,Johor,2019,20.97,30.10,13.24,NaN,NaN,NaN
Belgium,0.776840,7.69,45.79,2010,89.668945,41086.5510,Aarschot,2019,11.71,19.15,15.63,NaN,NaN,97.146119
China,0.736399,7.24,58.13,2010,58.952156,9525.8193,Aba Zangzu Qiangzu Zizhizhou,2019,18.47,NaN,NaN,97.260274,NaN,NaN
Germany,0.767981,7.57,48.54,2010,92.546394,40428.7230,Aachen,2019,NaN,17.14,29.68,NaN,100.000000,98.952626
Netherlands,0.795699,7.84,42.71,2010,90.625130,45524.6640,Amsterdam,2019,11.15,19.91,29.87,NaN,NaN,98.177321
Argentina,0.737133,7.35,34.52,2010,79.750809,18794.2700,Buenos Aires,2019,NaN,25.50,18.25,NaN,97.200000,87.500000
Croatia,0.751699,7.53,48.84,2010,78.641861,20118.1560,Desinic Gora,2019,12.18,14.57,6.07,NaN,NaN,81.095890
Poland,0.752857,7.32,41.75,2010,81.966171,21770.6190,Be?chatow,2019,NaN,25.63,NaN,NaN,NaN,NaN
Hungary,0.758826,7.41,44.85,2010,87.218033,22277.3730,Ajka,2019,11.45,15.89,12.31,NaN,NaN,99.109589
Lithuania,0.771612,7.51,39.35,2010,83.806778,21061.9860,Jonava,2019,NaN,14.54,9.65,NaN,NaN,98.652968
Mexico,0.723071,7.15,45.08,2010,76.681602,15364.8720,Abasolo,2018,15.00,NaN,NaN,NaN,NaN,NaN
Cyprus,0.750220,7.52,46.93,2010,84.794022,33941.2850,Agia Marina,2019,9.89,13.14,2.36,NaN,NaN,100.000000
Japan,0.678470,6.73,55.40,2010,89.416603,35749.7700,Fukuoka City,2018,13.60,NaN,19.78,98.561644,NaN,99.315068
United Kingdom,0.784047,7.77,46.29,2010,85.168190,36195.8670,Aberdeen,2019,7.26,13.71,29.17,NaN,NaN,98.382801
Peru,0.711720,6.99,28.57,2010,71.429535,9956.5576,Lima,2019,30.14,NaN,NaN,92.000000,NaN,NaN
Bulgaria,0.755601,7.44,38.47,2010,78.304153,15283.2460,Blagoevgrad,2019,NaN,29.96,17.81,NaN,NaN,94.326484